.btn
    border-radius: 0px 20px
    padding: 20px   48px
    font-family: 'Raleway'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 100%
    text-align: center
    color: #FDFDFD

    &_primary
        background: $color-orange

    &_secondary
        background-color: $color-green