.collapse
  padding: 30px
  background: #FDFDFD
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12)
  border-radius: 10px

.collapse__header
  display: flex
  flex-direction: row
  justify-content: space-between

.collapse__header-title
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 22px
  line-height: 130%
  color: #353A5A

.collapse__header-toggle
  width: 33px
  height: 33px

.collapse__header-toggle-minus, .collapse__header-toggle-plus
  width: 100%
  height: 100%
  display: none

.collapse__body
  display: none

.collapse__content
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 130%
  color: #353A5A

.collapse_open
  .collapse__body, .collapse__header-toggle-minus
    display: block

  .collapse__header
    margin-bottom: 15px

.collapse_close .collapse__header-toggle-plus
  display: block

.collapse-group .collapse:not(:last-child)
  margin-bottom: 30px