footer
  padding-top: 120px
  padding-bottom: 30px
  background: #E5E5E5

.footer__content
  margin: 0 auto
  display: flex
  flex-direction: column
  max-width: 1170px
  width: 100%

.footer__content-nav
  padding: 80px 0px 50px

.footer__line
  opacity: 0.1
  border: 1px solid #353A5A

.footer__content-nav
  display: flex
  justify-content: space-between

.footer-nav__column
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 172px

.footer-nav__column-text
  a
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 100%
    color: #353A5A

  display: flex
  flex-direction: column
  justify-content: space-between
  height: 124px

.footer-nav__column__info
  width: 270px

.footer-nav__column p
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 130%
  color: #353A5A
  margin-top: 27px
  margin-bottom: 47px

.footer-nav__column-title
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 100%
  color: #353A5A

.footer__social
  max-width: 116px
  width: 100%
  display: flex
  justify-content: space-between

.footer-nav__column-email
  width: 182px
  height: 88px
  display: flex
  flex-direction: column
  justify-content: space-between

  p
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 130%
    color: #353A5A

.footer__copyright
  display: flex
  justify-content: space-between
  margin-top: 30px
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 100%
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A

.footer__copyright-right
  width: 449px
  display: flex
  justify-content: space-between
  flex-direction: row

