@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500&display=swap')
@import ./variables
@import ./components/__all__

*
    padding: 0
    margin: 0
    box-sizing: border-box
      
a
   text-decoration: none

button
    cursor: pointer
    border: none
    background: none

@mixin font_big()
    font-family: 'Raleway'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 100%
    color: #FDFDFD

@mixin font_small()
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 150%
    text-align: center
    color: #FDFDFD

       
.section-1
    width: 100%
    height: 100%
    background: $color-green
    position: relative
    display: inline-block



.nav 
    display: flex
    justify-content: center
    padding-top: 40px 
    margin-bottom: 56px
    
    &__item
        padding-bottom: 8px
        margin: 0px 20px
        @include font_big()
         
        &_active
            border-bottom: 2px dashed $color-orange

.section-1__container
    width: 1170px
    margin: 0 auto
    position: relative
    margin-bottom: 119px


    

.social 
       
    &__item  
        display: block
        width: 22px
        height: 22px 
        margin: 15px 0px

.logo
    display: flex
    justify-content: center
    margin: 212px   635px   566px   635px   

.section-1__promo
    padding-top: calc(148px - 56px)
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 92px

    &-logo  
        width: 170px    
        height: 22px
        margin-bottom: 40px
        
    &-title
        font-family: 'Raleway'
        font-style: normal
        font-weight: 500
        font-size: 58px
        line-height: 120%
        text-align: center
        color: #FDFDFD
        margin-bottom: 20px
        max-width: 542px

    &-subtitle
        font-family: 'Raleway'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        text-align: center
        color: #FDFDFD
        margin-bottom: 50px
        max-width: 387px



.btn
    border-radius: 0px 20px
    padding: 20px   48px
    font-family: 'Raleway'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 100%
    text-align: center
    color: #FDFDFD

    &_primary
        background: $color-orange

    &_secondary
        background-color: $color-green

.section-1__social   
    position: absolute
    top: 0
    left: 0

.section-1__img-left
    position: absolute
    bottom: 0
    left: 0


.section-1__img-right
    position: absolute
    top: 0
    right: 0

.scrolling
    height:  129px   
    width: 10px
    position: absolute
    bottom: 0
    right: 0
    align-items: center
  


    

.scrolling__name
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 100%
    color: #FDFDFD
    writing-mode: vertical-lr
    transform: rotate(180deg)
    padding-top: 15px
    right: 3px
   
    

.scrolling__img
    writing-mode: vertical-lr

   
.section-2
    width: 100%
    background: #E5E5E5
    margin: 0 auto
 

.statistics


.wrapper    
    max-width: 1170px   
    width: 100%
    margin: 0 auto
    padding: 119px  0 117px 

    
.section-2__content
    height: 699px
    display: flex
    flex-direction: column
    justify-content: space-between

.section-2__content-statistic
    display: flex
    text-align: center
    justify-content: space-between
    
.statistic__column
    width: 270px
    height: 107px
    display: flex
    flex-direction: column
    justify-content: space-between

.column__number
    font-family: 'Raleway'
    font-style: normal
    font-weight: 500
    font-size: 58px
    line-height: 100%
    text-align: center
    color: #10B582
    font-feature-settings: 'pnum' on, 'lnum' on

.column__text
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 120%
    text-align: center
    color: #353A5A

$color-dark: #353A5A
$color-white: #FDFDFD

.info__text
    width: 500px

.info__text-title 
    font-family: 'Raleway'
    font-style: normal
    font-weight: 500
    font-size: 58px
    line-height: 100%
    font-feature-settings: 'pnum' on, 'lnum' on
    margin-bottom: 20px
    &_primary
        color: $color-dark

    &_secondary
        color: $color-white

.info__text-p
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 150%
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 159px
    margin-bottom: 50px
    &_primary
        color: $color-dark

    &_secondary
        color: $color-white

.info__img
    width: 570px
    display: flex
    flex-wrap: wrap
    column-gap: 30px
    grid-row-gap: 30px

.section-2__content-info

    display: flex
    justify-content: space-between
    align-items: center

.img__text
    width: 170px  
    


.img__text img
    margin-bottom: 15px

.img__text p
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 130%
    text-align: center
    color: #353A5A

.section-3
    background: $color-green
    

.section-3__content
   display: flex
   justify-content: space-between   
  

.section-3__text
    display: flex

.section-3__img
    width: 500px
    display: flex
   

