@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500&display=swap")
@import ./variables
@import ./components/__all__

*
  padding: 0
  margin: 0
  box-sizing: border-box

a
  text-decoration: none

body
  margin: 0 auto
  background: #FDFDFD

button
  cursor: pointer
  border: none
  background: none

.section-1
  width: 100%
  height: 200%
  background: #FDFDFD
  margin: 0 auto

.nav_a a
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 100%
  color: #353A5A

.nav__item_active
  border-bottom: 2px dashed #FA9F42

.wrapper
  max-width: 1170px
  width: 100%
  margin: 0 auto

.section-1
  margin-bottom: 120px

.section-1__nav
  display: flex
  justify-content: space-between
  padding-top: 40px
  margin-bottom: 50px
  width: 1440px

.nav_logo
  width: 128px

.nav_a
  width: 501px
  display: flex
  justify-content: space-between

.section-1__breadcrumbs
  display: flex

.section-1__breadcrumbs-text
  width: 256px
  height: 14px
  display: flex
  justify-content: space-between

  a
    font-family: 'Raleway'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 100%
    color: #353A5A

.motion_design
  opacity: 0.5

.section-1__container
  width: 1170px
  margin: 0 auto

.section-1__title h1
  width: 1070px
  height: 140px
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 58px
  line-height: 120%
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A
  margin-top: 60px

.section-1__img
  width: 1170px
  height: 440px
  margin-top: 40px
  margin-bottom: 40px

.section-1__text-title
  width: 870px
  height: 58px
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 22px
  line-height: 130%
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A
  margin-bottom: 25px

.section-1__text
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 150%
  color: #353A5A

.section-1__text-content
  width: 809px
  height: 246px
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-bottom: 80px

.section-1__statistic
  display: flex
  text-align: center
  justify-content: space-between

.statistic__column
  width: 270px
  height: 107px
  display: flex
  flex-direction: column
  justify-content: space-between

.column__number
  font-family: "Raleway"
  font-style: normal
  font-weight: 500
  font-size: 58px
  line-height: 100%
  text-align: center
  color: #10B582
  font-feature-settings: "pnum" on, "lnum" on

.column__text
  font-family: "Raleway"
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 120%
  text-align: center
  color: #353A5A

.section-2
  background: #10B582

.section-2__content
  display: flex
  justify-content: space-between

.section-2__text
  display: flex

.section-2__img
  width: 570px
  height: 316px

.info__text
  width: 540px

.info__text-title
  font-family: "Raleway"
  font-style: normal
  font-weight: 500
  font-size: 58px
  line-height: 100%
  font-feature-settings: "pnum" on, "lnum" on
  margin-bottom: 20px

.info__text-title_primary
  color: #353A5A

.info__text-title_secondary
  color: #FDFDFD

.info__text-p
  font-family: "Raleway"
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 150%
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 159px
  margin-bottom: 50px

.info__text-p_primary
  color: #353A5A
  height: auto

.info__text-p_secondary
  color: #FDFDFD
  height: auto

.wrapper-2
  max-width: 1170px
  width: 100%
  margin: 0 auto
  padding: 120px 0 120px

.section-3__content-title
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 58px
  line-height: 100%
  text-align: center
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A
  margin-top: 120px

.section-3__content
  display: flex
  flex-direction: column
  justify-content: space-between

.section-3__content-box
  display: flex
  max-width: 1170px
  width: 100%
  justify-content: space-between
  margin-top: 60px
  margin-bottom: 60px

.section-3
  background: #FDFDFD

.section-3__btn
  display: flex
  align-items: center
  flex-direction: column
  margin-bottom: 140px

.section-3__box
  background: #FDFDFD
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12)
  border-radius: 10px
  padding: 20px
  height: 135px
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 270px

  p
    font-family: 'Raleway'
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 100%
    font-feature-settings: 'pnum' on, 'lnum' on
    color: #353A5A

.section-3__icon
  width: 16px
  height: 16px

.section-3__title
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 100%
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A

.section-4
  background: #FDFDFD

.section-4__content-text
  width: 508px
  display: flex
  flex-direction: column
  margin-left: 720px

.section-4__content
  background: url(../../img/page2_sec4.png)
  background-size: cover
  max-width: 1440px
  width: 100%
  margin: 0 auto
  padding: 119px 0 117px

.wrapper-3
  max-width: 830px
  width: 100%
  margin: 0 auto
  padding: 120px 0 120px

.section-5
  background: #FDFDFD
  display: flex
  flex-direction: column

.section-5__title
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 58px
  line-height: 120%
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A
  margin-bottom: 30px
  text-align: center

.section-5__content
  max-width: 830px
  width: 100%

.section-5__content-text1, .section-5__content-text2
  width: 830px
  height: 167px
  background: #FDFDFD
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12)
  border-radius: 10px
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto
  padding: 30px 130px 15px 30px

.section-5__content-text1
  margin-bottom: 30px

.section-5__content-box1, .section-5__content-box2, .section-5__content-box3
  width: 830px
  height: 89px
  padding: 30px 130px 30px 30px
  background: #FDFDFD
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12)
  border-radius: 10px
  margin-top: 30px

.section-5__icon
  width: 33px
  height: 33px
  position: relative
  display: inline-block

.section-5__content-subtitle
  width: 670px
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 130%
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A

.section-5__content-title, .content__box-title
  width: 670px
  height: 29px
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  font-size: 22px
  line-height: 130%
  font-feature-settings: 'pnum' on, 'lnum' on
  color: #353A5A
  padding-bottom: 60px

.section-5__content-text_title
  display: flex
  flex-direction: column

.content__title1, .content__title2, .content__title3
  width: 670px

